/* Asegura que el contenedor del canvas tome todo el espacio de su tarjeta */
#contenedor-canvas {
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Fondo blanco limpio para el plano */
    position: relative;
}

/* Evita que el canvas añada márgenes invisibles */
canvas {
    display: block;
}

/* Obliga a la imagen a cubrir todo el espacio de su tarjeta sin deformarse */
.imagen-cobertura {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}